.hamburger-button {
  position: fixed; /* 固定位置 */
  top: 20px; /* 距离顶部 20px */
  right: 20px; /* 距离右侧 20px */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000; /* 确保在最上层 */
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}
  
  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }
  
  .mobile-menu.active {
    right: 0;
  }
  
  .mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
  }
  
  .mobile-menu ul li {
    margin: 10px 0;
  }
  
  .mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
  }
  
  /* Media Queries */
  @media (max-width: 960px) {
    .text-xxl {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 670px) {
    .navbar .main-menu {
      display: none;
    }
  
    .navbar .hamburger-button {
      display: block;
    }
  
    .hero .container {
      background: url('../images/hero-bg-mobile.png') no-repeat;
      background-size: 350px 400px;
      background-position: bottom;
      height: 770px;
    }
  
    .hero .hero-content,
    .hero .hero-text {
      width: 100%;
      text-align: center;
    }
  
    .hero .hero-buttons .btn {
      margin-bottom: 10px;
      display: block;
      width: 100%;
    }
  
    .testimonials .testimonials-heading {
      max-width: 100%;
      text-align: center;
    }
  
    .testimonials .testimonials-grid,
    .pricing .pricing-grid,
    .footer .footer-grid {
      grid-template-columns: 1fr;
    }
  
    .footer .card {
      margin-right: 0;
    }
  
    .footer .footer-grid > div {
      text-align: center;
    }
  
    /* Text */
    .text-xl {
      font-size: 1.9rem;
    }
  
    .text-lg {
      font-size: 1.5rem;
    }
  
    .text-md {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 500px) {
    .text-xxl {
      font-size: 2rem;
    }
  }
  